html, body{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	background-color:#e3e4e5;
	color: #253039;
}

#navlist{
	list-style: none;
	right:0;
	display:flex;
	flex-wrap: wrap;
	font-size:1.5em;
	align-items: center;
	justify-content: center;
	
}

#main-nav{
	background-color:#253039;
	  color: #fff;
    display: block;
    padding: 10px;
    margin: 0 auto;
	display: flex;
	align-items: center;
	position:fixed;
	width:100%;
	color:#ffd600;
}

/*
#main-nav::after {
    content: '';
    height: 5em;
    display: block;
    background-color: inherit;
    transform: skewY(3deg);
    transform-origin: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
	box-shadow: 
}
*/

. {
	Font-Family: 'Droid Serif', Serif;
	Font-Size: 15px;
}

h1{
	Font-Family: 'Roboto', Sans-Serif;
	Font-Size: 35px;
}

#splashtitle{
	font-size:2em;
}

.stdlink{
	margin-top: 18px;
}

li{
	margin-right:10px;
	margin-left:10px;
}

#deskmenu{
	background-color: #ffda44;
	padding-bottom: 8px;
	width:100%;
}

#splashtitle{
	display:flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	height:100%;
	width:100%;
	font-size:2em;
	color:#253039;
	
}

#buildtitle{
	font-size: 1.3em;
}

#bee{
	background-image: url("images/hive32.png") no-repeat;
	transform:rotate(-45deg);
}

#bee:hover{
	
	background-image: url("images/hive32color.png") no-repeat;
	transition: all .2s ease-in-out;
}

#splash{
	height:100%;
	width:100%;
	background:url() no-repeat 50% 50%;
	margin:auto;
	/*display:table;*/
	top:0;
	/*top:0;*/
	z-index: -1;
	background-size:cover;
	/*filter:blur(3px)*/;
	overflow:hidden;
}

#splashtitle{
	display:flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	height:100%;
	width:100%;
	font-size:3em;
}

#logo{
	width:100%;
	background-color:#E6E6EA;
	

}

.stdlink{
	font-weight: bold;
}

.stdlink:hover{
	transition: 0.1s ease-in;
	font-size:1.1em;

}