
/*Used as a reset to allow for cleaner styling*/

html{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	color: #253039;
}

body{
	display:flex;
	flex-direction:column;	
}

nav, footer{
	flex-grow:1;
}

section{
	flex-grow:3;
}

* {
	Font-Family: 'Roboto', Sans-Serif;
	Font-Size: 15px;
}

h1, h2 {
	Font-Family: 'Roboto', Sans-Serif;
	Font-Size: 35px;
}

p{
	word-wrap: break-word;
	text-overflow: ellipsis;
}

a{
	font-weight: bold;
}

p>a:hover{
	position: relative;
	color: #FFC107;
	text-decoration: underline;
	font-weight: bold;
}


#navlist{
	list-style: none;
	right:0;
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;	
}
#main-nav{
	background: #FFB75E;
	background: -webkit-linear-gradient(left, #ED8F03, #FFB75E);
	background: -o-linear-gradient(left, #ED8F03, #FFB75E);
	background: linear-gradient(to right, #ED8F03, #FFB75E);
}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navli{
	margin:5px 10px 0px 10px;
}

/*used to show use of different types of selectors*/
.navli > a {
  position: relative;
  color: black;
  text-decoration: none;
}

.navli > a:hover {
  color: black;
	text-decoration:underline;
}

section{
	background-color:#fff8e1;
	display:flex;
}

#content{
	word-wrap: break-word;

}

main, aside {
	margin: 10px 0px 10px 0px;
}

footer{
	min-height: 57px;
	background: #FFB75E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(left, #ED8F03, #FFB75E);
	background: -o-linear-gradient(left, #ED8F03, #FFB75E);
	background: linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	flex-flow: 1;
}

#offerjumbo{
	background-image: url(../images/cathryn-lavery-67851.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	margin-bottom:0;
	
}

.card{
	margin: 0;
	width: 20rem;
}

.card-image-top{
	height:15rem;
}

#map {
        height: 400px;
        width: 100%;
}

