html, body{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	background-color:#e3e4e5;
	color: #253039;
}

. {
	Font-Family: 'Droid Serif', Serif;
	Font-Size: 15px;
}

h1{
	Font-Family: 'Roboto', Sans-Serif;
	Font-Size: 35px;
}

main{
	background-color:#e3e4e5;
	border-left:solid 1px #253039;
	border-right:solid 1px #253039;
	
}

a{
	position: relative;
	color: #FFC107;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	position: relative;
	color: #FFC107;
	text-decoration: underline;
	font-weight: bold;
}


#navlist{
	list-style: none;
	right:0;
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;	
}

.navli > a {
  position: relative;
  color: #FFC107;
  text-decoration: none;
}

.navli > a:hover {
  color: #FFC107;
	text-decoration:underline;
}


#main-nav{
	background-color:#253039;
	  color: #fff;
    display: flex;
	align-items: center;
	justify-content: center;
    padding: 5px;
    margin: 0 auto;
	display: flex;
	align-items: center;
	position:fixed;
	width:100%;
	color:#ffd600;
}


#splashtitle{
	font-size:2em;
}

.stdlink{
	margin-top: 18px;
}

li{
	margin-right:10px;
	margin-left:10px;
}

#deskmenu{
	background-color: #ffda44;
	padding-bottom: 8px;
	width:100%;
}

#splashtitle{
	display:flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	height:100%;
	width:100%;
	font-size:2em;
	color:#e3e4e5;
	background-image:url(../images/beeblur.png);
	background-size:cover;
	text-shadow: 2px 2px 5px #253039;
	z-index: 2;
	
}

#buildtitle{
	font-size: 1.3em;
}

#bee{
	background-image: url("images/hive32.png") no-repeat;
	transform:rotate(-45deg);
}

#bee:hover{
	
	background-image: url("images/hive32color.png") no-repeat;
	transition: all .2s ease-in-out;
}

#splash{
	height:100%;
	width:100%;
	background:url() no-repeat 50% 50%;
	margin:auto;
	/*display:table;*/
	top:0;
	/*top:0;*/
	z-index: -1;
	background-size:cover;
	/*filter:blur(3px)*/;
	overflow:hidden;
}

#splashtitle{
	display:flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	height:100%;
	width:100%;
	font-size:3em;
}

#logo{
	width:100%;
	background-color:#E6E6EA;
	

}

.stdlink{
	font-weight: bold;
}

.stdlink:hover{
	transition: 0.1s ease-in;
	font-size:1.1em;

}.navli {
}
