<h2>Build your PC!</h2>


	<form name="buildForm" ng-submit="buildSubmit()" ng-app ng-controller="buildController">
    <div class="row col-md-6">
        <div ng-repeat="component in components">
            <label><h3>{{ component.compName }}</h3></label>
                <select class="form-control" id="{{ component.selectName }}" ng-model="component.selectedPart">
                    <option ng-repeat="part in component.parts" value="{{ part.partCost }}">{{ part.partName }}</option>
                </select>
        </div>
        <div>
        	<button class="btn btn-primary btn-s" id="quotebtn" value="show">Your Quote</button>
        </div>

        <div class="col-md-6">
            <!-- ng-src ng-show image goes here -->
        </div>
    </div>
</form>