<div ng-app="myApp" ng-controller="contactController">
<!--Proper Bootstrap styling for the forms with angular for validation and storing of data-->

<form name="registrationForm" data-ng-submit="submitForm()" novalidate>   

	<!--This names the form for referencing. It calls the submit function for http requests and turns off HTML validation to allow for angular validation-->
	
	<!--First Name-->

	<div class="form-group" ng-class="{'has-error' : registrationForm.firstname.$invalid && !registrationForm.firstname.$pristine}">
	
	
	<label for="firstname"><h2>First Name</h2></label>
	<input type="text" name="firstname" data-ng-model="user.firstname" class="form-control" id="firstname" placeholder="Enter First Name" required>
	<p data-ng-show="registrationForm.firstname.$invalid && registrationForm.firstname.$pristine" class="help-block">Your first name is required</p>
	
	<!--This is a form of validation that will return the boolean value of true if the cell is left empty. This interacts with ng-show to reveal (or hide) the <p> tag	-->
	
	</div>
	

	<!--Second Name-->
	
	<div class="form-group" ng-class="{ 'has-error' : registrationForm.secondname.$invalid && !registrationForm.secondname.$pristine}">
		
	<label for="secondname"><h2>Second Name</h2></label>
	
	<input type="text" name="secondname" data-ng-model="user.secondname" class="form-control" id="secondname" placeholder="Enter Second Name" required>
	
	<p data-ng-show="registrationForm.secondname.$pristine" class="help-block">Your second name is required</p>
	
	<!--This is a form of validation that will return the boolean value of true if the cell is left empty. This interacts with ng-show to reveal (or hide) the <p> tag	-->
	</div>
	
	
	<!--Phone Number-->
	
	<div class="form-group" ng-class="{ 'has-error' : registrationForm.phonenumber.$invalid && !registrationForm.phonenumber.$pristine}">
		
	<label for="phonenumber"><h2>Phone Number</h2></label>
	
	<input type="text" name="phonenumber" data-ng-model="user.phonenumber" class="form-control" id="phonenumber" placeholder="Enter Phone Number" required>
	
	<p data-ng-show="registrationForm.phonenumber.$pristine" class="help-block">Your phone number is required</p>
	
	<!--This is a form of validation that will return the boolean value of true if the cell is left empty. This interacts with ng-show to reveal (or hide) the <p> tag	-->
	</div>
	
	<!--Email Address-->
	
	<div class="form-group" ng-class="{'has-error' : registrationForm.email.$invalid && !registrationForm.email.$pristine}">
   
    <label for="email"><h2>Email Address</h2></label>
    <input type="email" name="email" data-ng-model="user.email" class="form-control" id="email"  placeholder="Enter Email" >
	
 	<small id="emailinfo" class="form-text text-muted">
  	Your email will not be shared with any other third party 
	</small>
   
    <p data-ng-show="registrationForm.email.$invalid && !registrationForm.email.$pristine" class="help-block">Your email is required</p>
	
	<!--This is a form of validation that will return the boolean value of true if the cell is left empty (or has an error). This interacts with ng-show to reveal (or hide) the <p> tag	-->
    
  	</div>
	
	 <button type="submit" class="btn btn-primary" ng-disabled="registrationForm.$invalid">Subscribe</button>
	 
	<!--this is validation for the form, if invalid entries are inputted it will disable the submit button	 -->
	
</form>
</div>