<div class= "landing-blurb">
	<div class="text-center"><h2>Welcome!</h2></div>
	<br>
	<div class="col-md-12">
		<h3>Who are we?</h3>
		<p class="text-justify">We are an independant PC specialist based out of wolverhampton, west midlands. We have been serving the local area with custom made pc's since 2017. We started this business as we were passionate about building pc's. At first it was our own but we want to pass on our knowledge, enthuasiasm and speciality onto others. If you would like to learn more about us, including our <a href="/about">location or contact details</a>, get clicking!</p>
		<a href="/about" class="btn btn-primary btn-s">Read more >></a>
	</div>
	<hr>

	<div class="col-md-12" id="homeimagecontainer">
		<img src="/images/build-a-custom-pc-component-system.jpg" class="image-responsive image-rounded" id="home-image">
		<img src="/images/41594-build1.jpg" class="image-responsive image-rounded" id="home-image">
		<img src="/images/2c94da75e792160591bd99d7363c5a83.800.450.jpg" class="image-responsive image-rounded" id="home-image">
	</div>

	<hr>
	<div class="col-md-6 landing-blurb">
		<h3>What do we do?</h3>
		<p class="homeblurb text-justify">Our goals are to make tailor made PC's for any function or intention. With us you will be able make any PC big or small, whether it is for work or otherwise, you will be able to creat it with us. Head over to our <a href="/build">build</a> page to get started! </p>
		<a href="/build" class="btn btn-primary btn-s">Read more >></a>
	</div>
	<div class="col-md-6 landing-blurb">
		<h3>Contact us</h3>
		<p class="homeblurb text-justify">You can contact us 5 days a week, monday to friday. We strive to answer any email as soon as possible. Any quotes generated via the <a href="/build">build</a> page will be responded to immediatly. If you have any questions do not hesitate to get in touch via the <a href="/contact">contact</a> page. There you will be able to leave a message and sign up to our email notifications!</p>
		<a href="/contact" class="btn btn-primary btn-s">Read more >></a>
	</div>	
</div>