<!--used as an example of the controller injecting content onto the page-->
 
<div id="reviews" ng-app="myApp" ng-controller="reviewController">

 <!--review one	-->
	
	<div class="card"  ng-repeat="review in reviews">
	  <img class="card-img-top" ng-src="{{ review.cover }}" alt="Card image cap">
		  <div class="card-block">
			<h4 class="card-title">{{ review.name }}</h4>
			<p class="card-text">{{ review.overview }}
			<br>
			<strong>Contains:</strong></p>
		  </div>
		  
		  <ul class="list-group list-group-flush">
			<li class="list-group-item">{{ review.GPU }}</li>
			<li class="list-group-item">{{ review.CPU }}</li>
			<li class="list-group-item">{{ review.RAM }}</li>
			<li class="list-group-item">{{ review.Cooler }}</li>
			<li class="list-group-item">{{ review.Case }}</li>
		  </ul>
	</div>
	
</div>